body {
    background-color: #336f73;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
@media (max-width: 575.98px) {
  .desktopSite {
    display: none;
  }
  .mobileSite {
    display: initial;
  }
}

@media (min-width: 576px) {
  .desktopSite {
    display: initial;
  }
  .mobileSite {
    display: none;
  }
}
.mContainer {
    margin-inline: auto;
    display: flex;
    aspect-ratio: 9 / 16;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.albumMobile{
    position: absolute;
    width: 100%;
    top: 5%;
}
.wall {
    margin-inline: auto;
    display: flex;
    aspect-ratio: 4 / 3;
    max-height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.back{
    position: absolute;
    top:1%;
    left:1%;
    height: 8%;
}
.album {
    opacity: 1;
    position: absolute;
    margin: auto;
    height: 90%;
    width: 90%;
    z-index: -1;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
