body {
    background-color: #336f73;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
.wall {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    margin-inline: auto;
    display: flex;
    aspect-ratio: 4 / 3;
    max-height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.back{
    position: absolute;
    top:1%;
    left:1%;
    height: 8%;
}
.album {
    opacity: 1;
    position: absolute;
    margin: auto;
    height: 90%;
    width: 90%;
    z-index: -1;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
