body {
    background-color: #336f73;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
div {
    /*for debugging*/
    /*outline: 2px solid grey;*/
}
.desktop {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 500ms;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    margin-inline: auto;
    display: flex;
    aspect-ratio: 4 / 3;
    max-height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.deskdiv {
    position: absolute;
    margin: auto;
    height: 90%;
    width: 90%;
    z-index: -1;
}
.desk{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.macdiv {
    transition: 0.2s;
    position: absolute;
    height: 36%;
    bottom: 39.9%;
    left: 44%;
}
.mac{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.bookdiv {
    transition: 0.2s;
    position: absolute;
    height: 2.5%;
    top: 57.5%;
    right: 10%;
}
.book{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.photosdiv {
    transition: 0.3s;
    position: absolute;
    height: 14%;
    top: 32%;
    right: 10%;
}
.photos{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.gamesdiv {
    transition: 0.2s;
    position: absolute;
    height: 12%;
    top: 48.1%;
    left: 30%;
}
.games{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.bskydiv {
    transition: 0.3s;
    position: absolute;
    height: 12%;
    top: 25%;
    left: 28%;
}
.bsky{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.macdiv:hover .mac{
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-10%) scale(1.05);
    content: url("vectors/iMac-github.svg");
}
.gamesdiv:hover .games{
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-10%) scale(1.05);
}
.bookdiv:hover .book{
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-50%) scale(1.05) rotate(-5deg);
}
.photosdiv:hover .photos{
    transition: 0.3s;
    z-index: 5;
    transform: rotate(-10deg);
}
.bskydiv:hover .bsky{
    transition: 0.3s;
    z-index: 5;
    transform: rotate(10deg);
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
