body{
    background-color: #C3C3C3;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 500ms;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
div{
    /*for debugging*/
    /*outline: 2px solid grey;*/
}
@media (max-width: 575.98px) {
  .desktopSite {
    display: none;
  }
  .mobileSite {
    display: initial;
  }
}

@media (min-width: 576px) {
  .desktopSite {
    display: initial;
  }
  .mobileSite {
    display: none;
  }
}
.mContainer{
    display: grid;
    gap: 5vw;
    padding: 10px;
    grid-template-columns: auto auto;
}
.game{
    position: relative;
    width: 100%;
}
.mback{
    padding-bottom: 10px;
    width: 15%;
}
.table{
    overflow: hidden;
    margin-inline: auto;
    display: flex;
    aspect-ratio: 4 / 3;
    max-height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.back{
    position: absolute;
    top:1%;
    left:1%;
    height: 8%;
}
.stickdiv{
    position: absolute;
    margin: auto;
    width: 80%;
    bottom: -50%;
    left: 50%;
}
.stick{
    transition: 0.2s;
    position: relative;
    height:100%;
    width:100%;
}
.armourdiv {
    transition: 0.4s;
    position: absolute;
    height: 37%;
    top: 7%;
    right: 65%;
    rotate: 5deg;
}
.plotarmour{
    transition: 0.4s;
    position: relative;
    height:100%;
    width:100%;
}
.beamydiv {
    transition: 0.4s;
    position: absolute;
    height: 37%;
    top: 55%;
    right: 60%;
    rotate: 9deg;
}
.beamymeaby{
    transition: 0.4s;
    position: relative;
    height:100%;
    width:100%;
}
.loopydiv {
    transition: 0.4s;
    position: absolute;
    height: 37%;
    top: 4%;
    right: 25%;
    rotate: -16deg;
}
.loopygolf{
    transition: 0.4s;
    position: relative;
    height:100%;
    width:100%;
}
.armourdiv:hover .plotarmour{
    transition: 0.5s;
    z-index: 5;
    transform: scale(110%) rotateY(360deg);
}
.beamydiv:hover .beamymeaby{
    transition: 0.5s;
    z-index: 5;
    transform: scale(110%) rotateY(360deg);
}
.loopydiv:hover .loopygolf{
    transition: 0.5s;
    z-index: 5;
    transform: scale(110%) rotateY(360deg);
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
