body {
    background-color: #c971a2;
    padding: 20;
}

.imac {
    height: 300;
    width: 300;
    padding: 40;
}

.imac:hover {
    transform: scale(1.05);
    transition: all 150ms cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 5;
    animation: hover 1s infinite;
}

@keyframes hover {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.link_group {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    border-radius: 0px;
    outline: 5px solid #bad9c7;
}
